@inherits LayoutComponentBase
@using Utilities


@if (Utils.ISAUTHENTICATED) 
{
<div class="page flex w-full h-full">
        <div class="sidebar">
            <NavMenu />
        </div>
    <main class="w-full flex justify-center items-center h-full">
        @Body
    </main>
</div>
}
else {
<div class="page flex w-full h-full">
    <main class="w-full h-full">
        @Body
    </main>
</div>
}

